{% extends 'base_dashboard.html' %}
{% load static %}

{% block title %}Editar carta - micartadigital.es{% endblock %}

{% block message_content %}{% include 'includes/errors/carta_edit_errors.html' %}{% endblock %}

{% block content %}
<h1>Editar carta</h1>

<div id="secciones-switcher" class="ui tabular secondary pointing menu">
  {% for seccion in form %}
    {% if not seccion.DELETE.value %}
        <a class="item" data-tab="{{ seccion.prefix }}">
            {% if seccion.titulo.value %}
                {{ seccion.titulo.value }}
            {% else %}sin_título{% endif %}
        </a>
    {% endif %}
  {% endfor %}
</div>

<form class="ui form" method="POST">
    {% csrf_token %}
    {{ form.management_form }}
    {{ form.non_form_errors }}

    <button type="button" class="ui primary button" data-action="add-seccion-form">Nueva sección</button>
    
    {% include 'includes/formsets/seccion_formset.html' with seccion=form.empty_form empty_form=True %}
    
    {% for seccion in form %}
        {% include 'includes/formsets/seccion_formset.html' with seccion=seccion empty_form=False %}
    {% endfor %}
    
    <div class="ui divider"></div>
    <input id="submit-redirect" type="hidden"/>
    <button type="submit" name="save-and-exit" class="ui right floated basic green button">Guardar y salir</button>
    <button type="submit" name="save-and-continue" class="ui right floated basic teal button">Guardar y seguir editando</button>
</form>
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<script src="{% static 'js/django-formset.js' %}"></script>
<script src="{% static 'js/carta-form.js' %}"></script>
{% endblock %}