{% extends 'base_dashboard.html' %}
{% load static %}
{% load humanize %}

{% block title %}Panel - micartadigital.es{% endblock %}

{% block content %}
<div class="ui hidden divider"></div>

<div class="ui tabular top attached menu">
  <a class="item active" data-tab="tab-establecimientos">Establecimientos</a>
  <a class="item" data-tab="tab-cartas">Cartas</a>
</div>

<div class="ui tab bottom attached segment active" data-tab="tab-establecimientos">
  <h2>Mis establecimientos</h2>
  <a href="{% url 'new-establecimiento' %}" class="ui primary button"><i class="plus icon"></i> Añadir</a>
  {% if user.establecimientos.all %}
  <table id="table-establecimientos" class="ui padded table">
    <thead>
      <tr>
        <th>Establecimiento</th>
        <th>Teléfono</th>
        <th>Provincia</th>
        <th>Carta</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for establecimiento in user.establecimientos.all %}
      <tr>
        <td>
          <div class="ui header">{{ establecimiento.nombre }}<br />
            <div class="sub header">{{ establecimiento.display_direccion }}</div>
          </div>
        </td>
        <td>{{ establecimiento.telefono }}</td>
        <td>{{ establecimiento.provincia }}</td>
        <td>
          {% if establecimiento.carta %}
          <a href="{% url 'establecimiento' establecimiento.slug %}" target="_blank" class="ui label">
            {{ establecimiento.slug }}</a>
          {% endif %}
        </td>
        <td class="right aligned">
          <div class="ui floating dropdown item">
            <i class="ellipsis vertical icon"></i>
            <div class="left menu">
              <a href="{% url 'edit-establecimiento' establecimiento.id %}" class="item">
                <i class="pencil icon"></i>Editar
              </a>
              <a href="{% url 'serve-qr' establecimiento.slug %}" target="_blank" class="{% if not establecimiento.carta %}disabled {% endif %}item">
                <i class="qrcode icon"></i>Descargar QR
              </a>
              <a class="item delete-establecimiento-btn" data-url="{% url 'delete-establecimiento' establecimiento.id %}" data-nombre="{{ establecimiento.nombre }}">
                <i class="trash alternate icon"></i>Eliminar
              </a>
            </div>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <div class="ui warning message">
    Todavía no has creado establecimientos :(
  </div>
  {% endif %}
</div>

<div class="ui tab bottom attached segment" data-tab="tab-cartas">
  <h2>Mis cartas</h2>
  <a href="{% url 'new-carta' %}" class="ui primary button"><i class="plus icon"></i> Añadir</a>
  {% if user.cartas.all %}
  <table id="table-cartas" class="ui padded table">
    <thead>
      <tr>
        <th>Título</th>
        <th>Usada en</th>
        <th>Última modificación</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for carta in user.cartas.all %}
      <tr>
        <td>
          {% with count_platos=carta.count_platos count_secciones=carta.secciones.count %}
          <div class="ui header">{{ carta.titulo }}<br />
            <div class="sub header">{{ count_platos }} plato{{ count_platos|pluralize:"s" }} en {{ count_secciones }} secci{{ count_secciones|pluralize:"ón,ones" }}</div>
          </div>
          {% endwith %}
        </td>
        <td>
          {% for establecimiento in carta.establecimientos.all|dictsort:"slug" %}
          <a href="{% url 'establecimiento' establecimiento.slug %}" target="_blank" class="ui label">
            {{ establecimiento.slug }}</a>
          {% endfor %}
        </td>
        <td data-order="{{ carta.ultima_modificacion|date:"U" }}">{{ carta.ultima_modificacion|naturaltime }}</td>
        <td class="right aligned">
          <div class="ui floating dropdown item">
            <i class="ellipsis vertical icon"></i>
            <div class="left menu">
              <a href="{% url 'edit-carta' carta.id %}" class="item">
                <i class="pencil icon"></i>Editar
              </a>
              <a class="{% if carta.establecimientos.all %}disabled {% endif %}item delete-carta-btn" data-url="{% url 'delete-carta' carta.id %}" data-nombre="{{ carta.titulo }}">
                <i class="trash alternate icon"></i>Eliminar
              </a>
            </div>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <div class="ui warning message">
    Todavía no has creado cartas :(
  </div>
  {% endif %}
</div>

<div class="ui small modal">
    <i class="close icon"></i>
    <div class="header">Confirmar eliminación</div>
    <div class="content">
        <p id="is-establecimiento">
            Estás a punto de eliminar el establecimiento <strong class="delete-confirm-title"></strong>.
            Esta acción no se puede deshacer.
        </p>
        <p id="is-carta">
            Estás a punto de eliminar la carta <strong class="delete-confirm-title"></strong>.
            Esta acción no se puede deshacer.
        </p>
        <form class="ui form" method="POST">
            {% csrf_token %}
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" name="confirm_delete">
                    <label>Confirmar eliminación.</label>
                </div>
            </div>
            <input class="ui disabled inverted red button" type="submit" value="Eliminar" />
        </form>
    </div>
</div>

{% endblock %}

{% block script %}
<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/dataTables.semanticui.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.22/filtering/type-based/accent-neutralise.js"></script>
<script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}