{% extends 'base.html' %}
{% load static %}

{% block title %}{{ establecimiento }} - micartadigital.es{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/cartas.css' %}" />
{% endblock %}

{% block header_image %}
    {% if establecimiento.imagen %}
    <img class="ui fluid image" src="{{ establecimiento.imagen.url }}" alt="Imagen de portada" />
    {% else %}
    <img class="ui default fluid image" src="{% static 'img/default-header-image.jpg' %}" alt="Imagen de portada" />
    {% endif %}
{% endblock %}

{% block content %}
<button class="ui huge circular icon button" id="go-to-top-btn" title="Go to top"><i class="angle up icon"></i></button>

<div id="establecimiento-detalles" class="ui basic segment">
  <div class="ui huge header">
    {{ establecimiento }}
    <div class="sub header">
        <a href="{{ establecimiento.get_maps_url }}" target="_blank"><i class="map marker alternate icon"></i>{{ establecimiento.display_direccion }}</a>
    </div>
  </div>
  {% if establecimiento.carta %}
        {% if establecimiento.telefono1 %}<a class="ui basic violet icon button" href="tel:{{establecimiento.telefono1}}"><i class="phone icon"></i> {{establecimiento.telefono1}}</a>{% endif %}
        {% if establecimiento.telefono2 %}<a class="ui basic violet icon button" href="tel:{{establecimiento.telefono2}}"><i class="phone icon"></i> {{establecimiento.telefono2}}</a>{% endif %}

        {% if establecimiento.social_wa %}<a class="ui basic wa icon button" href="https://wa.me/{{establecimiento.social_wa}}" target="_blank"><i class="whatsapp icon"></i></a>{% endif %}
        {% if establecimiento.social_ig %}<a class="ui basic ig icon button" href="https://instagram.com/{{establecimiento.social_ig}}" target="_blank"><i class="instagram icon"></i></a>{% endif %}
        {% if establecimiento.social_fb %}<a class="ui basic fb icon button" href="https://facebook.com/{{establecimiento.social_fb}}" target="_blank"><i class="facebook icon"></i></a>{% endif %}
        {% if establecimiento.social_tw %}<a class="ui basic tw icon button" href="https://twitter.com/{{establecimiento.social_tw}}" target="_blank"><i class="twitter icon"></i></a>{% endif %}
    {% endif %}
</div>

{% if establecimiento.carta %}
<div id="nav-secciones" class="ui secondary pointing menu">
    {% for seccion in establecimiento.carta.secciones.all %}
        <a class="item" data-target="#seccion-{{forloop.counter0}}">{{ seccion.titulo }}</a>
    {% endfor %}
</div>

{% for seccion in establecimiento.carta.secciones.all %}
  <div id="seccion-{{forloop.counter0}}" class="ui basic segments">
    <div class="ui clearing segment">
        <div class="ui left floated huge header">{{ seccion.titulo }}</div>
    </div>

    {% for plato in seccion.platos.all %}
        <div class="ui segment">
            <div class="ui grid">
                <div class="fourteen wide computer fourteen wide tablet sixteen wide mobile column">
                    <span class="plato-titulo">{{ plato.titulo }}</span>
                    <span class="plato-propiedades"></span>
                </div>
                <div class="two wide mobile hidden right aligned column">
                    <span class="plato-precio">{{ plato.precio }} €</span>
                </div>
                <div class="sixteen wide mobile only column">
                    <span class="plato-precio">{{ plato.precio }} €</span>
                </div>
                <div class="twelve wide computer sixteen wide mobile column">
                    <span class="plato-descripcion">{{ plato.descripcion }}</span>
                </div>
                <div class="twelve wide computer sixteen wide mobile column">
                    <span class="plato-alergenos">
                    {% if plato.alergenos %}
                    {% for alergeno in plato.alergenos %}
                        {% with alergeno|stringformat:"s" as id %}
                            {% with 'icon/alergenos/ico_'|add:id|add:'.png' as static_icon %}
                                <img src="{% static static_icon %}" class="ui avatar image" alt="Alérgeno {{alergeno}}">
                            {% endwith %}
                        {% endwith %}
                    {% endfor %}
                    {% else %}No se han indicado alérgenos.{% endif %}
                    </span>
                </div>
            </div>
        </div>
    {% endfor %}
  </div>
{% endfor %}

<p>
  En cumplimiento del Reglamento Europeo 1169/2011 sobre la información
  facilitada al consumidor, se pone a su disposición la información relativa a
  la presencia de alérgenos. Por las caracterísiticas de instalación,
  manipulación y elaboración del establecimiento, todos los productos son
  susceptibles de contener, de manera directa o a través de contaminación
  cruzada, algún tipo de alérgeno.
</p>

<p>
  Para cualquier consulta, póngase en contacto con el personal del
  establecimiento.
  <a class="alergenos open">Información adicional</a>.
</p>

<div class="ui alergenos modal">
    <i class="close icon"></i>
    <div class="header">Información alimentaria</div>
    <div class="scrolling content">
        <div class="ui two column stackable divided grid">
            {% for alergeno, descripcion in alergenos %}
                <div class="column">
                    <h2 class="ui header">
                    {% with alergeno.0|stringformat:"s" as id %}
                        {% with 'icon/alergenos/ico_'|add:id|add:'.png' as static_icon %}
                            <img src="{% static static_icon %}" class="ui circular image" alt="Icono {{ alergeno.1 }}">
                        {% endwith %}
                    {% endwith %}
                    {{ alergeno.1 }}
                    </h2>

                    <p>{{ descripcion }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% else %}
<div id="no-menu-contact-details" class="ui center aligned middle aligned grid stackable basic segment">
    <div class="row">
        <div class="five wide column">
            <img class="ui middle aligned image" src="{% static 'img/no_menu.svg' %}" alt="Sin carta" />
        </div>
        <div class="seven wide column">
            <h1 class="ui header">¡Fogones apagados!</h1>
            <p>Los chefs han ocultado la carta de este establecimiento. ¿Se habrán quedado sin ingredientes?</p>
            
            {% if establecimiento.telefono1 %}<a class="ui basic violet icon button" href="tel:{{establecimiento.telefono1}}"><i class="phone icon"></i> {{establecimiento.telefono1}}</a>{% endif %}
            {% if establecimiento.telefono2 %}<a class="ui basic violet icon button" href="tel:{{establecimiento.telefono2}}"><i class="phone icon"></i> {{establecimiento.telefono2}}</a>{% endif %}
            {% if establecimiento.social_wa %}<a class="ui basic wa icon button" href="https://wa.me/{{establecimiento.social_wa}}" target="_blank"><i class="whatsapp icon"></i></a>{% endif %}
            {% if establecimiento.social_ig %}<a class="ui basic ig icon button" href="https://instagram.com/{{establecimiento.social_ig}}" target="_blank"><i class="instagram icon"></i></a>{% endif %}
            {% if establecimiento.social_fb %}<a class="ui basic fb icon button" href="https://facebook.com/{{establecimiento.social_fb}}" target="_blank"><i class="facebook icon"></i></a>{% endif %}
            {% if establecimiento.social_tw %}<a class="ui basic tw icon button" href="https://twitter.com/{{establecimiento.social_tw}}" target="_blank"><i class="twitter icon"></i></a>{% endif %}
            <div class="ui hidden divider"></div>

            <h4 class="ui header">¿Quieres buscar otro establecimiento?</h4>
            <form class="ui form" action="{% url 'search-establecimiento' %}" method="GET">
                <div class="field">
                    <div class="ui action input">
                        <input type="text" name="q" placeholder="Buscar por nombre, dirección o localidad">
                        <button class="ui icon button">
                            <i class="search icon"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}


{% block script %}
<script src="{% static 'js/establecimiento-details.js' %}"></script>
{% endblock %}