{% extends 'base_dashboard.html' %}
{% load static %}

{% block title %}
    {% if form.instance.id %}Editar{% else %}Nuevo{% endif %} establecimiento - micartadigital.es
{% endblock %}

{% block content %}
<h1>{% if form.instance.id %}Editar{% else %}Añadir{% endif %} establecimiento</h1>

<form class="ui form" method="POST" novalidate enctype="multipart/form-data">
    {% csrf_token %}
    
    <div class="{% if form.imagen.errors %}error {% endif %}field">
        {{ form.imagen.label_tag }}
        <div id="header-pic" class="ui segment">
            <div class="ui dimmer">
                <div class="content">
                    <h2 class="ui inverted header">{{ form.imagen.label_tag }}</h2>
                    <div id="imagen-change-btn" class="ui button">Cambiar</div>
                    <div id="imagen-clear-btn" class="ui button">Eliminar</div>
                </div>
            </div>
            {% if form.instance.id and form.instance.imagen %}
            <img class="ui fluid image" src="{{ form.instance.imagen.url }}" alt="Imagen de portada" />
            {% else %}
            <img class="ui fluid image" src="https://i.stack.imgur.com/y9DpT.jpg" alt="Imagen por defecto" />
            {% endif %}
        </div>
        {% for error in form.imagen.errors %}
            <small class="helper">{{ error }}</small>
        {% endfor %}
    </div>

    {% include 'includes/forms/establecimiento.html' with establecimiento=form %}
    <button type="submit" class="ui primary button">Guardar</button>
</form>
{% endblock %}

{% block script %}
<script src="{% static 'js/establecimiento-form.js' %}"></script>
{% endblock %}