Hola,

Alguien ha pedido que se restablezca la contraseña de la dirección de correo electrónico {{ email }}.
Siga el siguiente enlace:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Si hacer clic en el enlace anterior no funciona, por favor, copia y pega la URL en una nueva ventana del navegador en su
lugar.

Si no reconoces esta acción, es probable que otro usuario haya introducido tu dirección de correo electrónico por error
al intentar restablecer una contraseña. Si no has iniciado la solicitud, no necesitas hacer nada más y puedes ignorar
este correo.



Gracias,

micartadigital.es