{% extends 'base_accounts.html' %}

{% block content %}
<div class="ui top attached segment">
  <div class="ui huge header">
    Recuperar cuenta
    <div class="sub header">
      Busca en tu correo electrónico un enlace para restablecer tu contraseña. Si no aparece en unos minutos, comprueba
      tu carpeta de correo no deseado.
    </div>
  </div>
</div>
<div class="ui bottom attached center aligned segment">
  <p>Volver a <a href="{% url 'login' %}">iniciar sesión</a>.</p>
</div>
{% endblock %}