{% extends 'base_accounts.html' %}

{% block content %}
<div class="ui segment">
  {% if validlink %}
  <div class="ui huge header">
    Restablecer contraseña
    <div class="sub header">
      Cambiar la contraseña para {{ form.user.email }}
    </div>
  </div>
  <form class="ui form" novalidate method="POST">
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button class="ui primary fluid button" type="submit">Cambiar contraseña</button>
  </form>
  {% else %}
  <div class="ui huge header">
    Recuperar cuenta
    <div class="sub header">
      Parece que has hecho clic en un enlace de restablecimiento de contraseña no válido. Por favor, inténtalo de nuevo.
    </div>
  </div>
  <a href="{% url 'password_reset' %}" class="ui primary fluid button">Solicitar un nuevo enlace</a>
  {% endif %}
</div>
{% endblock %}