{% extends 'base_accounts.html' %}

{% block content %}
<div class="ui top attached segment">
  <div class="ui huge header">
    Recuperar cuenta
    <div class="sub header">
      Introduzca su dirección de correo electrónico y le enviaremos un enlace para restablecer su contraseña.
    </div>
  </div>
  <form class="ui form" novalidate method="POST">
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button class="ui primary fluid button" type="submit">Enviar correo</button>
  </form>
</div>
<div class="ui bottom attached center aligned segment">
  <p>Volver a <a href="{% url 'login' %}">iniciar sesión</a>.</p>
</div>
{% endblock %}