Hola,

Has solicitado restablecer tu contraseña. Haz clic en el siguiente enlace:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Si no funciona, copia y pega el enlace en una nueva ventana de tu navegador.

¿No sabes por qué has recibido este correo?

Probablemente, alguien que no recordaba los datos de su cuenta ha introducido tu dirección de correo electrónico por error. En ese caso, puedes ignorar este correo.

Para proteger tu cuenta, no reenvíes este correo ni facilites el enlace anterior a nadie.


Gracias,

micartadigital.es