{% extends 'base_accounts.html' %}

{% block title %}Registro - micartadigital.es{% endblock %}

{% block content %}
<div class="ui top attached segment">
  <div class="ui huge header">Crear cuenta</div>
  <form class="ui form" method="POST">
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button class="ui primary fluid button" type="submit">Crear cuenta</button>
  </form>
</div>
<div class="ui bottom attached center aligned segment">
  <p>¿Ya tienes cuenta? <a href="{% url 'login' %}">Inicia sesión</a>.</p>
</div>
{% endblock %}