html {
    scroll-behavior: smooth;
}

body {
    background-color: #fafafa;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#main {
    flex: 1;
    margin-top: 1em;
}

.ui.fixed.menu .logo.item img {
    margin-right: 1em;
}

#footer {
    margin: 5em 0em 0em 0em;
    padding: 3em 0em;
}

.ui.primary.button {
    background-color: #6C63FF;
}

.ui.primary.button:hover, .ui.primary.button:focus {
    background-color: #534AE6;
}

.ui.fluid.image {
    object-fit: cover;
    height: 260px;
}
.ui.default.image {
    filter: grayscale(0.4);
}

@media only screen and (max-width: 767px) {
    .ui.fluid.image {
        height: 180px;
    }
}