#go-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    display: none;
}

.ui.segments .ui.grid{
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}
.ui.segments .ui.grid .column{
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.plato-titulo, .plato-precio {
    font-size: 1.28em;
    font-weight: 700;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    color: rgba(0,0,0,.85);
}
.plato-descripcion {
    font-size: 1em;
    line-height: 1.4em;
    color: rgba(0,0,0,.87);
}
.plato-alergenos {
    color: rgba(0,0,0,.4);
}

a.alergenos.open {
    cursor: pointer;
}