html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
  background-color: #FFF;
}

.hidden.menu {
  display: none;
}

.masthead.segment {
  min-height: 700px;
  padding: 1em 0em;
}

.masthead .logo.item img {
  margin-right: 1em;
}

.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  margin-top: 2em;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: bold;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.masthead .button {
  margin-top: 1em;
}

.ui.vertical.stripe {
  padding: 8em 0em;
}

.ui.vertical.stripe h3 {
  font-size: 2em;
}

.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}

.ui.vertical.stripe .floated.image {
  clear: both;
}

.ui.vertical.stripe p {
  font-size: 1.33em;
}

.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em;
}

.ui.alternate.stripe {
  background-color: #F2F3F5;
}

.footer.segment {
  padding: 5em 0em;
}

.footer .esei.logo {
  height: 42px;
  float: right;
}

.masthead .ui.menu .toc.item {
  display: none;
}

#home {
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), linear-gradient(#fc6681, #6C63FF);
}

#seg-4 {
  /* https://unsplash.com/photos/12eHC6FxPyg */
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
  ),
  url('https://images.unsplash.com/photo-1473093295043-cdd812d0e601?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1920');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 767px) {
  .ui.fixed.menu {
    display: none !important;
  }

  .masthead .ui.menu .item,
  .masthead .ui.menu .menu {
    display: none;
  }

  .masthead .ui.menu .toc.item {
    display: block;
  }

  .masthead.segment {
    min-height: 400px;
  }

  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 2em;
  }

  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
}
