{% load widget_tweaks %}

{% if form.non_field_errors %}
<div class="ui negative message">
  <!--<div class="header">
    Existen errores en el formulario
  </div>-->
  {% for error in form.non_field_errors %}
  <p><strong>{{ error }}</strong></p>
  {% endfor %}
</div>
{% endif %}

{% for field in form %}

  <div class="field{% if field.errors %} error{% endif %}{% if field.field.required %} required{% endif %}">

    {{ field.label_tag }}

    {% render_field field %}

    {% for error in field.errors %}
    <li>{{ error }}</li>
    {% endfor %}

    {% if field.help_text %}
    <p>{{ field.help_text }}</p>
    {% endif %}

  </div>
  {% endfor %}