{% load static %}

<!-- Footer -->
<div class="ui inverted vertical segment" id="footer">
    <div class="ui center aligned container">
        <img class="ui centered mini image" src="{% static 'icon/spinach.svg' %}" alt="Logo" />
        <div class="ui center aligned container">
            <h5>micartadigital.es</h5>
        </div>
        <div class="ui horizontal inverted small divided link list">
            <a class="item" href="{% url 'home' %}">Inicio</a>
            <a class="item" href="{% url 'search-establecimiento' %}">Buscador</a>
            <a class="item" href="https://www.linkedin.com/in/alejanvila" target="_blank">Contacto</a>
            <a class="item" href="https://github.com/axnetg/micartadigital" target="_blank">GitHub</a>
        </div>
    </div>
</div>
<!-- ./ Footer -->