{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}

{% block structure %}
<!--Top Fixed Menu-->
<div class="mobile hidden">
	<div class="ui large top fixed borderless hidden menu">
		<div class="ui container">
			<a class="item" data-target="#home">Inicio</a>
			<a class="item" data-target="#seg-1">Carta digital</a>
			<a class="item" data-target="#seg-2">Funcionamiento</a>
			<a class="item" data-target="#seg-3">Características</a>
			<a class="item" data-target="#seg-4">Buscador</a>
			<div class="right menu">
				<div class="item"><a href="{% url 'login' %}" class="ui primary button">Panel de usuario</a></div>
			</div>
		</div>
	</div>
</div>

<!--Page Contents-->
<div class="main">
	<div id="home" class="ui inverted vertical masthead center aligned segment">
		<div class="ui container">
			<div class="ui large secondary inverted menu">
				<!--<a class="toc item"><i class="sidebar icon"></i></a>-->
				<a class="item" data-target="#home">Inicio</a>
                <a class="item" data-target="#seg-1">Carta digital</a>
                <a class="item" data-target="#seg-2">Funcionamiento</a>
                <a class="item" data-target="#seg-3">Características</a>
                <a class="item" data-target="#seg-4">Buscador</a>
				<div class="right item">
					<a href="{% url 'login' %}" class="ui inverted button">Panel de usuario</a>
				</div>
			</div>
		</div>
		<div class="ui text container">
			<h1 class="ui inverted header">micartadigital.es</h1>
			<h2>Aplicación web de gestión de cartas virtuales para hostelería</h2>
			<a href="{% url 'signup' %}" class="ui huge vertical animated primary button">
				<div class="hidden content">Crear una cuenta</div>
				<div class="visible content">
					Quiero mi carta QR <i class="qrcode icon"></i>
				</div>
			</a>
		</div>
	</div>

	<div id="seg-1" class="ui vertical stripe segment">
		<div class="ui middle aligned stackable grid container">
			<div class="row">
				<div class="eight wide column">
					<h3 class="ui header">Mucho más que una carta</h3>
                    <p>
                        Moderniza tu bar o restaurante con nuestra carta digital, 
                        un servicio intuitivo que te permitirá mostrar 
                        todos tus platos de forma sencilla y accesible, 
                        gestionando todo desde tu teléfono, tablet o PC. 
                        Regístrate gratis y crea ya tu código QR en cuestión de minutos.
                    </p>
					<h3 class="ui header">Ideal para grupos de restauración</h3>
                    <p>
                        Optimiza la gestión de tu negocio, administrando múltiples establecimientos desde una misma cuenta, con cartas compartidas o individuales.
                    </p>
				</div>
				<div class="six wide right floated column">
					<img class="ui large image" src="{% static 'img/undraw_healthy_options_sdo3.svg' %}" alt="Carta digital" />
				</div>
			</div>
		</div>
	</div>

	<div id="seg-2" class="ui alternate vertical stripe segment">
		<div class="ui middle aligned stackable grid container">
			<div class="row">
				<div class="six wide left floated column">
					<img class="ui large image" src="{% static 'img/undraw_special_event_4aj8.svg' %}" alt="Mesa de restaurante" />
				</div>
				<div class="eight wide column">
					<h3 class="ui header">¿Cómo funciona?</h3>
                    <p>
                        De lo más sencillo: crea las secciones, los platos y ordena todo a tu gusto. 
                        Puedes añadir información de contacto y tus redes sociales para facilitar toda la información de tu negocio. 
                        Genera tu código QR y ponlo al alcance de tus clientes para que consulten el menú en la palma de su mano.
                    </p>
				</div>
			</div>
		</div>
	</div>

	<div id="seg-3" class="ui stripe vertical segment">
		<div class="ui center aligned relaxed stackable equal width grid container">
			<div class="row">
				<div class="column">
					<h3 class="ui header">Aprovecha el potencial que te ofrece la digitalización de tu negocio</h3>
				</div>
			</div>
			<div class="ui hidden divider"></div>
			<div class="divided row">
				<div class="column">
					<h2 class="ui icon header">
						<i class="ui circular info circle icon"></i>
						Información de alérgenos
					</h2>
					<p>Mantén a tus clientes informados de forma sencilla con iconos en todos tus platos, cumpliendo la normativa de información sobre alérgenos.</p>
				</div>
				<div class="column">
					<h2 class="ui icon header">
						<i class="ui circular heartbeat icon"></i>
						Maximiza la higiene
					</h2>
                    <p>Ofrece la carta directamente en el móvil de tus clientes evitando cualquier contacto innecesario.</p>
				</div>
				<div class="column">
					<h2 class="ui icon header">
						<i class="ui circular dollar sign icon"></i>
						Ahorra tiempo y dinero
					</h2>
                    <p>
                        Olvídate de imprimir las cartas. Modifica, añade o elimina platos en cualquier momento. El QR será siempre el mismo.
                    </p>
				</div>
			</div>
		</div>
	</div>

	<div id="seg-4" class="ui stripe inverted vertical center aligned segment">
		<div class="ui text container">
			<h1 class="ui inverted header">micartadigital.es</h1>
            <p>
                ¿Quieres ver cómo quedaría tu carta? Utiliza el buscador para encontrar negocios que ya utilizan nuestra carta digital.
            </p>
			<form class="ui big inverted form" action="{% url 'search-establecimiento' %}" method="GET">
				<div class="field">
					<div class="ui action input">
						<input type="text" name="q" placeholder="Buscar establecimientos por nombre, dirección o localidad">
						<button class="ui big icon button">
							<i class="search icon"></i>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="ui inverted vertical footer segment">
		<div class="ui container">
			<div class="ui inverted divided equal height stackable grid">
				<div class="four wide column">
					<h4 class="ui inverted header">Enlaces</h4>
					<div class="ui inverted link list">
						<a class="item" href="https://www.linkedin.com/in/alejanvila" target="_blank"><i class="linkedin icon"></i> Contacto</a>
						<a class="item" href="https://github.com/axnetg/micartadigital" target="_blank"><i class="github icon"></i> GitHub</a>
						<a class="item" href="https://esei.uvigo.es/" target="_blank"><i class="graduation cap icon"></i> ESEI</a>
					</div>
				</div>
				<div class="twelve wide column">
					<h4 class="ui inverted header">Aplicación web de gestión de cartas virtuales para hostelería</h4>
                    <p>
                        Esta página web ha sido creada durante la realización del Trabajo de Fin de Grado para la obtención del Título
                        de Graduado en Ingeniería Informática por la Universidade de Vigo. Motivado por la tendencia de muchos bares
                        y restaurantes de ofrecer versiones digitales de sus cartas subidas en redes sociales o páginas web, se desarrolla
                        la presente plataforma de gestión y visualización de cartas conforme a las recomendaciones sanitarias derivadas
                        de la pandemia de la COVID-19.
                    </p>
					<a href="https://esei.uvigo.es/" target="_blank"><img class="esei logo" src="{% static 'img/esei-logo.png' %}" alt="Logo ESEI" /></a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}