{% load widget_tweaks %}

<div class="fields">
    <div class="seven wide{% if seccion.titulo.errors %} error{% endif %} field">
        {{ seccion.titulo.label_tag }}
        {% render_field seccion.titulo %}
    </div>
    <div class="seven wide{% if seccion.orden.errors %} error{% endif %} field">
        {{ seccion.orden.label_tag }}
        {% render_field seccion.orden %}
    </div>
    <div class="two wide field">
        <label>Borrar</label>
        {{ seccion.DELETE }}
        {{ seccion.id }}
    </div>
</div>